@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<AuthorizeView>
    <Authorized>
        <p>Logged in as <strong>@context.User.Identity?.Name</strong>.</p>
    </Authorized>
    <NotAuthorized>
        <p>Not logged in.</p>
    </NotAuthorized>
</AuthorizeView>
