@using Microsoft.AspNetCore.Components.Routing

<MudNavMenu>
    <div class="mud-nav-header py-4 px-3">
        <div style="display: flex; align-items: center;">
            <img src="@Assets["img/favicon-0128.png"]" srcset="@Assets["img/favicon.svg"]"
                style="width: 32px; height: 32px; margin-right: 12px;" />
            <div>
                <img alt="Application Name" src="@Assets["img/AzDoBoards.png"]" srcset="@Assets["img/AzDoBoards.svg"]"
                    style="height: 24px;" />
            </div>
        </div>
    </div>

    <MudDivider />

    <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="Icons.Material.Filled.Home">
        Home
    </MudNavLink>

    <MudNavLink Href="/counter" Icon="Icons.Material.Filled.Add">
        Counter
    </MudNavLink>

    <MudNavLink Href="/weather" Icon="Icons.Material.Filled.List">
        Weather
    </MudNavLink>
</MudNavMenu>

